@*
    不要违反规范, 在 set 访问器中放置自定义逻辑...
*@
<h5>@Title</h5>
<span class="form-text me-2">@Name</span>
<span class="form-text me-2">@_hello</span>

@code {
    private string _hello = "hello forgotten";
    private string _name = "_name forgotten";

    [Parameter]
    public string Name { get; init; } = "Name forgotten";

    [Parameter, EditorRequired]
    public string? Title { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        _hello = $"welcome {Name} ";
    }
    // 下面虽然是就模式, 但是却达到了只针对 Name 属性变化的目的
    //public string Name
    //{
    //    get
    //    {
    //        return _name;
    //    }
    //    set
    //    {
    //        _name = value;
    //        _hello = $"hello, {value}";
    //    }
    //}

}
